*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: red; */
    overflow: hidden;
}
.gameContanier{
    /* background-image: url(bg.png); */
    background-image: url(bg5.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width:100%;
    height:100vh;
}

.dino{
    background-image: url(dino.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:233px;
    height:119px;
    position: absolute;
    bottom: 0;
    left:50px;
}

.obstacle{
    background-image: url(dragon.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:96px;
    width:144px;
    position: absolute;
    bottom: 0;
    left: 45vw;
}

.gameOver{
    /* visibility: hidden;
    background-color: aqua; */
    position: relative;
    top: 60px;
    font-size: 30px;
    text-align: center;
    color:#ffc600;
    font-weight: bolder;
    font-family: sans-serif;
}

.score{
    position: absolute;
    top:30px;
    right:30px;
    border: 3px solid #ffc600;;
    font-size: 20px;
    border-radius: 10px;
    padding:10px;
    color:#ffc600;
    font-weight: bold;
    font-family: sans-serif;
}
.animateDino{
    animation: dino 0.6s linear;
}

.obstacleAni{
    animation: obsAni 5s linear infinite;
}

@keyframes dino{
    0%{
        bottom:0;
    }
    50%{
        bottom:300px;
    }
    100%{
        bottom: 0;;
    }
}

@keyframes obsAni{
    0%{
        left:100vw;
    }
    100%{
        left:-10vw;
    }
}