body {
  text-align: center;
  max-height: 100vh;
}

.colored-section{
  background-color: rgb(46, 204, 91);
  color: white;
}

.white-section{
  background-color: white;
  color: rgb(46, 204, 91);
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  2%;
  /* color: #FEF2BF; */
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.backButton{
  position: absolute;
  left: 2%;
  top: 2.2%;
  border-radius: 10px;
  padding: 0.5%;
}

.backButton a{
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
}